body {
    color: pink;
    background: white;
}
header {
    border-bottom: solid 2px rgb(196, 100, 177);
    padding: 20px;
    font-size: 32px;
    color: rgb(194, 67, 150);
}
section {
    background: rgb(244, 243, 245);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

h1{ 
   font-size: 40px; 
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}  

p{
    font-size: 20px;
} 

img {
  height: 200px; 
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
} 
